node_modules/

ableton music

Thumbs.db

*.js.map
*.css.map

.idea/

yarn-error.log

public/report.html

public/*.worker.js

public/index.html
public/style.css
public/main.js
public/main.css
public/vendors~main.bundle.js

public/kiosk.css
public/kiosk.html
public/kiosk.js
public/vendors~kiosk.bundle.js
public/vendors~kiosk~main.bundle.js

openpose-1.3.0-win64-gpu-binaries/