.homepage {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.content {
    position: relative;
    // offset from the top header
    top: 350px;
    padding-bottom: 80px;

    .content-section {
        // adding padding-top to account for header when navving to it
        padding-top: 80px;

        > h1 {
            text-align: center;
            margin: 40px;
            font-size: 3em;
        }
    }
}

.self {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
    margin: 80px auto;
}

.full-width {
    display: block;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.work-highlight {
    text-align: center;

    .work-highlight-name {
        display: inline-block;
        font-family: $palatino-family;
        font-size: 30px;
        font-weight: bold;
        margin: 1em 0;
    }
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        margin: 0 15px;

        .fa {
            margin-right: 5px;
        }

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.history-year {
    > section {
        padding-left: 20px;
        border-left: 1px solid $gray1;
    }

    .full-width {
        margin: 20px 0;
    }

    .history-item-title {
        display: inline;
        font-size: 1em;

        a {
            color: blue;
        }
    }

    .history-item-small {
        font-size: 80%;
        margin-top: 18px;
    }
}

.images {
    display: flex;
    margin: 20px 0;

    > .image {
        flex: 1 0 0;

        img {
            width: 100%;
            height: auto;
        }

        ~ .image {
            margin-left: 10px;
        }
    }

    &.full-size {
        flex-direction: column;
    }
}


.video {
    margin: 20px auto;
    display: block;
}