#titleMaker {
    width: 1920px;
    height: 1080px;
    margin: auto;
    border: 1px solid $black;
    // background: $light-gray5;
    // background: $black;
    background: radial-gradient(circle, $dark-gray1 0%, $black 100%);


    .titleMaker-container {
        color: $white;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .titleMaker-title {
        font-size: 2em;
        display: inline-block;
        margin: auto auto 1em auto;
        font-family: 'Dosis', cursive;
    }

    .titleMaker-line {
        width: 50%;
        height: 1px;
        border-top: 2px solid $dark-gray3;
        margin: 0 auto 0 auto;
    }

    .titleMaker-secondary {
        font-family: 'Dosis', cursive;
        font-size: 1.5em;
        color: $light-gray1;
        margin: 1em auto auto auto;
    }
}