doctype html
html
  head
    title Xiaohan Zhang
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header Xiaohan Zhang
    .all-sketches
      .sketch-wrapper#sketch1
      .sketch-wrapper#sketch2
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    script(src="/javascripts/main.js")
