doctype html
html
  head
    title Xiaohan Zhang
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sketch2.css')
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='/bower_components/pixi.js/bin/pixi.dev.js')
    script(src='/bower_components/threejs/build/three.js')
    script(src='/bower_components/bluebird/js/browser/bluebird.js')
    // endbower
    script(src='/threejs/postprocessing/EffectComposer.js')
    script(src='/threejs/postprocessing/MaskPass.js')
    script(src='/threejs/postprocessing/RenderPass.js')
    script(src='/threejs/postprocessing/ShaderPass.js')
    script(src='/threejs/shaders/DotScreenShader.js')
    script(src='/threejs/shaders/CopyShader.js')

    script(src="/javascripts/math.js")
    script(src="/javascripts/GravityShader.js")
    script(src="/javascripts/filters/explode_filter.js")
  body
    .header
      span.title hellochar
      ul.nav
    .all-sketches
    div.footer
    script(src="/javascripts/sketches.js")
    script(src="/javascripts/sketch2.js")
    // script(src="/javascripts/sketch3.js")
    // script(src="/javascripts/sketch4.js")
    // script(src="/javascripts/sketch5.js")
