extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block body
  .header
    span.title hellochar
    ul.nav
  .container
    .all-sketches
    .section.intro
      h1.title Xiaohan Zhang, aka hellochar
      p.intro-text I am a web developer and creative coder in the San Francisco area. I want to show the breathtaking beauty and awe that is inherent in mathematics and physics in a simple, aesthetically pleasing way. Contact me at <a href="mailto:hellocharlien@hotmail.com">hellocharlien@hotmail.com</a> for any further inquiries.
    .section.portfolio
      h2.title Past Work
      .past-work-item
        h3 Party Quest
        video(width=600, height=400)
        p Inspired by Twitch Plays Pokemon, Party-Quest is a real time multiplayer video game in which players control the movements of one single character exploring a dungeon full of spikes, trapdoors, and exploding pigs. Designed to be a party game projected onto a large screen, anyone can visit www.party-quest.com to get a set of controls on their phone or computer. The game was designed to 1) be immediately understandable, 2) be playable with any number of players, 3) create a sense of group engagement. The controls are extremely simple - tapping up, down, left, and right moves the character, applying a force impulse. Multiple users tapping together will apply a larger force and thus move faster - if they can agree on where to go. Together, users have to avoid spikes, dodge moving enemies, step over floor buttons to activate doors, use wooden crates as shields, and navigate under icy conditions. It was shown at Multimedia Orchestra's Spring Show 2014 and Maker Faire 2014.
        p
          a(href="http://www.party-quest.com/") Play now.
        p
          a(href="http://www.party-quest.com/game") Start new game.
      .past-work-item
        h3 VectorField
        img.past-work-img(width=800, height=450, src="/images/past-work/vectorfield3.png")
        p Users direct and manipulate a flow field in space using their body. Using the Xbox Kinect, users used their bodies to create force fields in the shape of their skeletons into open space. These fields would propagate forward over time, giving users the feeling of extending their bodily influence to the far-field.
      .past-work-item
        h3 Gravity 2013
        img.past-work-img(width=800, height=600, src="/images/past-work/gravity8.png")
        p Users control one million particles with their fingertips.
        p
          a(href="http://www.multimediaorchestra.com/projects/gravity") More info here.
      .past-work-item
        h3 p5wscala
        img.past-work-img(width=800, height=434.375, src="/images/past-work/p5wscala.png")
        p Documenting and exploring building Processing sketches with the Scala programming language.
        p
          a(href="https://p5wscala.wordpress.com/") Find it here.
    .footer
      hr
      p.copyright &copy; Xiaohan Zhang 2014-2015

block script
  script(src="/javascripts/index.js")
