doctype html
html
  head
    title Xiaohan Zhang
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sketch1.css')
    link(rel='stylesheet', href='/stylesheets/sketch2.css')
  body
    .header Xiaohan Zhang
    .all-sketches
      .sketch-wrapper#sketch1
      .sketch-wrapper#sketch2
      .sketch-wrapper#sketch3
    div.footer
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/processing/processing.js')
    // endbower
    script(src="/javascripts/sketches.js")
    script(src="/javascripts/sketch1.js")
    script(src="/javascripts/sketch2.js")
    script(src="/javascripts/sketch3.js")
