html {
    overflow: visible;
}

.header {
  background-color: #ff5140;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  line-height: 55px;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

.header .nav {
    display: inline-block;
    margin-right: -4px; /* remove space from inline-block */
}

.header .title:after {
    content: "|";
    position: relative;
    padding-left: 10px;
    top: 2px;
}

.header .nav li {
    transition: background 0.15s;
    display: inline-block;
    margin-right: -4px; /* remove space from inline-block */
    padding: 0 10px;
    cursor: pointer;
}
.header .nav li:hover {
    background-color: #cc1a3c;
}

.container {
    margin: 55px;
    height: 100%;
}

.container .all-sketches {
    height: calc(100% - 55px);
}

.container .sketch-wrapper {
  transition: opacity 0.25s;
  padding-top: 55px;
  padding-bottom: 55px;
  float: left;
}

.container .sketch-wrapper .new-window {
    position: absolute;
    right: -20px;
}

.container .section {
    margin: auto;
    max-width: 1280px;
    min-width: 300px;
}

.container .section.intro {
    clear: both;
}

.container .section.intro .title {
    padding-top: 0.50em;
    padding-bottom: 1.50em;
    text-align: center;
}

.container .section.intro .title .small {
    font-weight: normal;
    font-size: 0.5em;
}

.container .section.portfolio .title {
    padding-bottom: 0.5em;
}

.container .section.portfolio .past-work-item {
    padding: 1em;
}

.container .footer {
    text-align: center;
    padding: 0.5em;
}

@media (max-width: 600px) {
    .container {
        margin-left: 42px;
        margin-right: 42px;
    }

    .container .sketch-wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }
}


