#sketch2 .topbar {
}

#sketch2 canvas {
    background: black;
}

#sketch2 .reset {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    transition: background 0.15s;
    background: #ddd;
    border: none;
    padding: 7px 22px;
    margin: 4px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

#sketch2 .reset:hover {
    background: #ccc;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

#sketch2 .reset:active {
    background: #c2c2c2;
    box-shadow: 0 0 2px inset rgba(0, 0, 0, 0.15);
}
