$black: #10161A;
$white: #ffffff;
$dark-gray1: #182026;
$gray1: #5C7080;
$gray3: #8A9BA8;
$gray5: #BFCCD6;
$light-gray1: #CED9E0;

$palatino-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, serif; 
$georgia-family: Georgia,Cambria,"Times New Roman",Times,serif;
$arial-family: Arial, Helvetica Neue, Helvetica, sans-serif;

@import "~normalize.css/";

@import "./routes/index";
@import "./sketchComponent";
@import "./sketches/line/index";

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $palatino-family;
    margin: 0;
}

a {
    color: $dark-gray1;
    text-decoration: none;
    transition: border-bottom .05s;

    &:hover {
        border-bottom: 3px solid $black;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

body {
    font-family: $palatino-family;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    font-family: $georgia-family;
}

figure {
    margin: 0;
}

h1 ~ p {
    margin-top: 10px;
}

p ~ p {
    margin-top: 30px;
}

.root {
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 100%;
}

.presentation-mode {
    .back-button, .user-volume {
        display: none !important;
    }
}

.inventory-info {
    span~span:before {
        content: ", ";
    }
}

.mito-hud {
    text-align: initial;
    font-size: 16px;

    .mito-hud-button {
        border-radius: 2px;
        border: 1px solid transparentize($gray3, 0.8);
        margin: 2px;
        padding: 2px;
        cursor: pointer;

        &:hover {
            border: 1px solid $black;
            box-shadow: 2px 2px 2px transparentize($black, 0.8);
        }

        .mito-hud-button-hotkey {
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .mito-hud-water {
        color: rgb(90, 120, 255);
    }

    .mito-hud-sugar {
        color: rgb(52, 87, 6);
    }

    .d-pad {
        $size: 25px;
        display: grid;
        grid-template: $size $size #{$size} / $size $size $size;
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
    }
}

.classybr {
    border-bottom: 1px solid $gray3;
}

.mito-instructions {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
    overflow: auto;
    text-align: initial;

    .mito-instructions-container {
        max-width: 700px;
        margin: auto;
        position: relative;
        padding-bottom: 10vh;
    }

    .esc {
        position: absolute;
        cursor: pointer;
        right: 0;
        padding: 10px;
        margin: 10px;
        color: $gray3;

        &:hover {
            box-shadow: 2px 2px 1px transparentize($black, 0.8);
        }
    }

    h1 {
        padding: 25vh 0 10vh 0;
        font-size: 80px;
    }

    .play-button {
        text-align: center;
        padding: 40px;
        font-size: 30px;
        cursor: pointer;
        margin: 0 auto 10vh auto;
        border: 5px solid $black;

        &:hover {
            box-shadow: 10px 10px 5px transparentize($black, 0.7);
        }
    }

    h2 {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    h1, h2 {
        text-align: center;
    }

    p {
        font-size: 16px;
        font-family: $arial-family;
        margin-top: 10px;
    }

    ol {
        -webkit-padding-start: 20px;
    }
}

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // start off closed
    background: white;
    transition: opacity 2s;
    animation-name: opacify;
    animation-duration: 2s;
    animation-timing-function: ease;
    opacity: 0;

    &.closed {
        opacity: 1;
    }
}

@keyframes opacify {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}