$black: #10161A;
$white: #ffffff;
$dark-gray1: #182026;
$gray1: #5C7080;
$gray3: #8A9BA8;
$gray5: #BFCCD6;
$light-gray1: #CED9E0;

$palatino-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, serif; 
$georgia-family: Georgia,Cambria,"Times New Roman",Times,serif;
$arial-family: Arial, Helvetica Neue, Helvetica, sans-serif;

@import "~normalize.css/";

@import "./routes/index";
@import "./sketchComponent";

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $palatino-family;
    margin: 0;
}

a {
    color: $dark-gray1;
    text-decoration: none;
    transition: border-bottom .05s;

    &:hover {
        border-bottom: 3px solid $black;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

body {
    font-family: $palatino-family;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    font-family: $georgia-family;
}

figure {
    margin: 0;
}

h1 ~ p {
    margin-top: 10px;
}

p ~ p {
    margin-top: 30px;
}

.root {
    overflow: hidden;
}

.instructions-image {
    width: 100%;
    opacity: 0.75;
}

.line-instructions {
    background-color: transparentize($black, 0.08);
    width: 100%;
    transition: opacity 500ms ease-in;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.visible {
        opacity: 1;
    }
}

.hands-container {
    // animation-name: rotateX;
    // animation-iteration-count: infinite;
    // animation-duration: 10s;
    // animation-direction: alternate;
    // transform: rotateX(60deg);
    font-size: 150px;
    -webkit-text-stroke: 3px white;
    -webkit-text-fill-color: transparent;
}

.back-button, .user-volume {
    display: none !important;
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }

    10% {
        transform: rotateX(60deg);
    }

    100% {
        transform: rotateX(60deg);
    }
}

.move-hands-animation {
    display: inline-block;
    position: relative;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: circleMoveLeft;

    &.reversed {
        animation-name: circleMoveRight;
    }
}

$move-top: 300px;
$move-side: 300px;

@keyframes circleMoveLeft {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: $move-top;
        left: 0;
    }
    50% {
        top: $move-top;
        left: -$move-side;
    }
    75% {
        top: 0;
        left: -$move-side;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes circleMoveRight {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: $move-top;
        left: 0;
    }
    50% {
        top: $move-top;
        left: $move-side;
    }
    75% {
        top: 0;
        left: $move-side;
    }
    100% {
        top: 0;
        left: 0;
    }
}