$palatino-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, serif; 
$georgia-family: Georgia,Cambria,"Times New Roman",Times,serif;
$arial-family: Arial, Helvetica Neue, Helvetica, sans-serif;

@import "~normalize.css/";

@import "./colors";

@import "./routes/index";
@import "./sketchComponent";
@import "./sketches/flame/flame";
@import "./sketches/line/index";
@import "./sketches/mito/index";

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $palatino-family;
    margin: 0;
}

a {
    color: $dark-gray1;
    text-decoration: none;
    transition: border-bottom .05s;

    &:hover {
        border-bottom: 3px solid $black;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

body {
    font-family: $palatino-family;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    font-family: $georgia-family;
}

figure {
    margin: 0;
}

h1 ~ p {
    margin-top: 10px;
}

p ~ p {
    margin-top: 30px;
}

.root {
    overflow: hidden;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.presentation-mode {
    .back-button, .user-volume {
        display: none !important;
    }
}

.kiosk-mode {
    @extend .presentation-mode;

    cursor: none !important;
}

.inventory-info {
    span~span:before {
        content: ", ";
    }
}

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $light-gray5;

    // 5s is time of outtro
    transition: opacity 5s;

    animation-name: opacify;
    // this is time to intro
    animation-duration: 5s;
    animation-timing-function: ease;

    user-select: none;

    // sest this for the transition to work properly
    opacity: 0;

    &.closed {
        opacity: 1;
    }
}

@keyframes opacify {
    from {
        // start off closed
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.privacy-policy {
    h1 {
        margin: 48px 0;
    }

    p {
        font-size: 16px;
    }
}